<a href="https://colab.research.google.com/github/19PA1A0506/07-03-2020/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BIAS=bias is the difference between the average prediction of or model and correct value which we are trying to predict. the model on training and test data it always lead high error


VARINACE=variance is the varaibility of model prediction for a given datapoint.model with high variance perform very well on training data but has high error rates on test data

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [10]:
student=pd.read_csv("students_placement_data.csv")
student.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

NameError: ignored